#### Topics to be covered are
- Indexing
- Re-indexing
- Selection 
- Assignment

Objective: Learn about selecting the data required from the dataset

In [1]:
#import pandas library and provide alias name as pd
import pandas as pd

1. Reading the data

In [2]:
trend_data = pd.read_csv('Data/SearchTrendData.csv')
trend_data.head(5)

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4

2a. Selecting a column in the dataset

In [4]:
trend_data.eLearning
#trend_data.eLearning

0      32
1      35
2      38
3      37
4      38
       ..
256    41
257    49
258    62
259    74
260    80
Name: eLearning, Length: 261, dtype: int64

2b. Alternate way to select a column

In [5]:
trend_data['Week']

0      20/09/2015
1      27/09/2015
2       4/10/2015
3      11/10/2015
4      18/10/2015
          ...
256    16/08/2020
257    23/08/2020
258    30/08/2020
259     6/09/2020
260    13/09/2020
Name: Week, Length: 261, dtype: object

2c. Select a specific column and row

In [8]:
#trend_data['Week'][0]
trend_data['Week'][10]

'29/11/2015'

2d. Selecting using loc method

In [10]:
print(trend_data.loc[:,'Week'])

0      20/09/2015
1      27/09/2015
2       4/10/2015
3      11/10/2015
4      18/10/2015
          ...
256    16/08/2020
257    23/08/2020
258    30/08/2020
259     6/09/2020
260    13/09/2020
Name: Week, Length: 261, dtype: object

2e. Selecting multiple columns

In [11]:
print(trend_data.loc[:,['Week', 'DataScience']])

           Week  DataScience
0    20/09/2015            9
1    27/09/2015           10
2     4/10/2015           10
3    11/10/2015            9
4    18/10/2015            9
..          ...          ...
256  16/08/2020           36
257  23/08/2020           39
258  30/08/2020           37
259   6/09/2020           38
260  13/09/2020           39

[261 rows x 2 columns]

2f. Selecting few columns and specific rows using index

In [13]:
print(trend_data.loc[[0,1,2],['Week', 'DataScience']])

         Week  DataScience
0  20/09/2015            9
1  27/09/2015           10
2   4/10/2015           10

2g. Selecting specific columns and a range of rows using index

In [16]:
print(trend_data.loc[250:260,['Week', 'DataScience']])
# Print including 250 and 260 line

           Week  DataScience
250   5/07/2020           35
251  12/07/2020           36
252  19/07/2020           36
253  26/07/2020           34
254   2/08/2020           34
255   9/08/2020           35
256  16/08/2020           36
257  23/08/2020           39
258  30/08/2020           37
259   6/09/2020           38
260  13/09/2020           39

In [15]:
print(trend_data.iloc[250:260,])
# Using iloc now the last element is not printed

           Week  eLearning  DataScience  MachineLearning  \
250   5/07/2020         55           35               39
251  12/07/2020         58           36               40
252  19/07/2020         55           36               40
253  26/07/2020         43           34               39
254   2/08/2020         44           34               37
255   9/08/2020         44           35               38
256  16/08/2020         41           36               40
257  23/08/2020         49           39               40
258  30/08/2020         62           37               40
259   6/09/2020         74           38               42

     ArtificialIntelligence  DeepLearning
250                      19            14
251                      21            15
252                      21            14
253                      20            14
254                      20            13
255                      21            13
256                      22            14
257                      21            14
258                      21            14
259                      24            14

2h. select a range of rows and all columns

In [17]:
print(trend_data.loc[:10,:])

          Week  eLearning  DataScience  MachineLearning  \
0   20/09/2015         32            9               11
1   27/09/2015         35           10               11
2    4/10/2015         38           10               12
3   11/10/2015         37            9               12
4   18/10/2015         38            9               12
5   25/10/2015         38           10               12
6    1/11/2015         37            9               13
7    8/11/2015         35            8               14
8   15/11/2015         35            9               13
9   22/11/2015         31            8               12
10  29/11/2015         35            9               13

    ArtificialIntelligence  DeepLearning
0                       11             4
1                       11             4
2                       11             4
3                       10             4
4                       10             4
5                       11             4
6                       11             3
7                       12             5
8                       12             4
9                       10             4
10                      11             4

2i. Using negaive index

In [26]:
trend_data.loc[-1:,:]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4
...,...,...,...,...,...,...
256,16/08/2020,41,36,40,22,14
257,23/08/2020,49,39,40,21,14
258,30/08/2020,62,37,40,21,14
259,6/09/2020,74,38,42,24,14
260,13/09/2020,80,39,39,21,14

3. Conditional Selection

In [27]:
trend_data.Week == '13/09/2020'
# Identifies the row that has the value

0      False
1      False
2      False
3      False
4      False
       ...
256    False
257    False
258    False
259    False
260     True
Name: Week, Length: 261, dtype: bool

3a. Selecting a row

In [28]:
# Now passing that to the data frame will print that row
trend_data.loc[trend_data.Week == '13/09/2020']

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
260,13/09/2020,80,39,39,21,14

3b. Using a condition

In [29]:
trend_data.loc[(trend_data.DataScience >= 30)]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
178,17/02/2019,35,30,42,25,15
183,24/03/2019,38,30,41,24,16
191,19/05/2019,35,30,39,22,15
194,9/06/2019,27,30,42,22,15
195,16/06/2019,32,31,41,24,15
...,...,...,...,...,...,...
256,16/08/2020,41,36,40,22,14
257,23/08/2020,49,39,40,21,14
258,30/08/2020,62,37,40,21,14
259,6/09/2020,74,38,42,24,14
260,13/09/2020,80,39,39,21,14

3c. Using multiple Conditions

In [30]:
trend_data.loc[(trend_data.DataScience >= 30) & (trend_data.MachineLearning >= 30)]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
178,17/02/2019,35,30,42,25,15
183,24/03/2019,38,30,41,24,16
191,19/05/2019,35,30,39,22,15
194,9/06/2019,27,30,42,22,15
195,16/06/2019,32,31,41,24,15
...,...,...,...,...,...,...
256,16/08/2020,41,36,40,22,14
257,23/08/2020,49,39,40,21,14
258,30/08/2020,62,37,40,21,14
259,6/09/2020,74,38,42,24,14
260,13/09/2020,80,39,39,21,14

3d. using OR operator

In [31]:
trend_data.loc[(trend_data.DataScience >= 30) | (trend_data.MachineLearning >= 30)]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
102,3/09/2017,24,19,30,23,13
103,10/09/2017,27,20,31,21,13
104,17/09/2017,32,20,32,20,14
105,24/09/2017,34,20,31,20,13
106,1/10/2017,35,19,33,20,13
...,...,...,...,...,...,...
256,16/08/2020,41,36,40,22,14
257,23/08/2020,49,39,40,21,14
258,30/08/2020,62,37,40,21,14
259,6/09/2020,74,38,42,24,14
260,13/09/2020,80,39,39,21,14

3e. Identifies the rows that are null

In [32]:
trend_data.loc[trend_data.DataScience.notnull()]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4
...,...,...,...,...,...,...
256,16/08/2020,41,36,40,22,14
257,23/08/2020,49,39,40,21,14
258,30/08/2020,62,37,40,21,14
259,6/09/2020,74,38,42,24,14
260,13/09/2020,80,39,39,21,14

In [33]:
trend_data.loc[trend_data.DataScience.isnull()]

Empty DataFrame
Columns: [Week, eLearning, DataScience, MachineLearning, ArtificialIntelligence, DeepLearning]
Index: []

4. Assign value

In [34]:
trend_data['EdgeCompute'] = 45

In [35]:
trend_data.head()

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning,EdgeCompute
0,20/09/2015,32,9,11,11,4,45
1,27/09/2015,35,10,11,11,4,45
2,4/10/2015,38,10,12,11,4,45
3,11/10/2015,37,9,12,10,4,45
4,18/10/2015,38,9,12,10,4,45

5. Re-Indexing / Chaning the index

In [ ]:
print(trend_data)

In [36]:
print(trend_data.set_index("Week"))

            eLearning  DataScience  MachineLearning  ArtificialIntelligence  \
Week
20/09/2015         32            9               11                      11
27/09/2015         35           10               11                      11
4/10/2015          38           10               12                      11
11/10/2015         37            9               12                      10
18/10/2015         38            9               12                      10
...               ...          ...              ...                     ...
16/08/2020         41           36               40                      22
23/08/2020         49           39               40                      21
30/08/2020         62           37               40                      21
6/09/2020          74           38               42                      24
13/09/2020         80           39               39                      21

            DeepLearning  EdgeCompute
Week
20/09/2015             4           45
27/09/2015             4           45
4/10/2015              4           45
11/10/2015             4           45
18/10/2015             4           45
...                  ...          ...
16/08/2020            14           45
23/08/2020            14           45
30/08/2020            14           45
6/09/2020             14           45
13/09/2020            14           45

[261 rows x 6 columns]

To Try
- For the above dataset select all rows for the year 2019
- Get all the records where the trend score for Data Science is over 30 and trend score for AI is over 35
- Select the trend for Data Science and Machine Learning for the year 2020